{% extends 'msfitcaregym/base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
{% endblock %}

{% block bg %}
    style="background:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));"
{% endblock %}

{% block body_block %}
<section class="page-section">
    <div class="container "><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" >
            <div class="about-heading-content">
                <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Επαναφορά Κωδικού Πρόσβασης</p>
                        </div>
                        <div class="card-body">
                            <p>Ξέχασες τον κωδικό σου; Καταχώρησε το email σου και θα λάβεις οδηγίες για την επαναφορά του κωδικού σου</p>
                            <form method="post">
                                {%csrf_token%}
                                {{ password_reset_form|crispy }}
                                <button class="btn btn-primary" type="submit">Αποστολή email</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
<!--    &lt;!&ndash;Reset Password&ndash;&gt;-->
<!--	<div class="container p-5">-->
<!--  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>-->
<!--		<hr>-->
<!--		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>-->
<!--        <form method="POST">-->
<!--            {% csrf_token %}-->
<!--            {{ password_reset_form|crispy }}-->
<!--            <button class="btn btn-primary" type="submit">Send email</button>-->
<!--        </form>-->
<!--  	</div>-->
</section>
{% endblock %}