<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/html">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About us - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    {% block title %}
    {% endblock%}
</head>

<body style="background-color: #95999c">
<!--   <h1 class="text-center d-none d-lg-block site-heading " style="color: #5a9e41;"><span class="site-heading-upper mb-3" style="font-size: 50px; font-family: Lucida Console;">MS Fit Care Gym&nbsp;</span></h1>-->
<!--    <h1 class="text-center text-white d-none d-lg-block site-heading" ><span class="text-primary site-heading-upper mb-3">MS Fit Care Gym&nbsp;</span></h1>-->
<!--    <a class="navbar-brand" href="#">-->
<!--            <img src= "{% static 'img/logo1.jpg' %}" width="50" height="50" alt="">-->
<!--        </a>-->
    <header class="fixed-top">
<!--        <div style="background-color: black;text-align: center"><img src="{% static 'img/logo4.jpg'%}"></div>-->
    <nav class="navbar navbar-light navbar-expand-lg bg-dark  py-lg-4" id="mainNav">
        <a class="navbar-brand d-none d-lg-block" href="{% url 'msfitcaregym:home' %}"> MS Fit Care Gym&nbsp;</a>
        <div class="container"><a class="navbar-brand d-lg-none text-expanded" href="#">MS Fit Care Gym</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item active" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">About us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="products.html">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{%url 'msfitcaregym:hours'%}">Store</a></li>
                </ul>
        </div>
        </div>
    </nav>
    </header>
    <main role="main" class="container">

    {% block body_block %}
    {% endblock %}
    </main>
<!--    <footer class="footer text-faded text-center fixed-bottom py-7">-->
<!--        <div class="container">-->
<!--            <span class="text-muted">Copyright&nbsp;©&nbsp;MS Fit Care Gym 2021</span>-->
<!--     </div>-->
<!--    </footer>-->
<footer class="fixed-bottom">
    <div style="background-color: black;text-align: center">
    <img src="{% static 'img/logo4.jpg'%}" style="height: 50px">
    </div>
</footer>
<script src="{% static 'js/jquery.min.js'  %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'  %}"></script>
    <script src="{% static 'js/current-day.js'  %}"></script>
</body>