{% extends 'msfitcaregym/base.html' %}
{% load static%}


{% block title %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<!--    <link rel="stylesheet" href="{% static 'fonts1/fontawesome-all.min.css' %}">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="{% static 'fullcalendar/main.css'%}">
    <script src="{% static 'fullcalendar/main.js'%}"></script>
    <script src="{% static 'fullcalendar/locales/el.js' %}"></script>

{% endblock %}
{% block bg %}
    style="background:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));"
{% endblock %}
{% block body_block %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                contentHeight: 'auto',
                // timeZone: 'UTC',
                // touchSelect:true,
                editable: false,
                eventOverlap: false,
                selectable: false,
                slotEventOverlap: false,
                initialView: 'timeGridFourDay',
                scrollTime: '06:00:00',
                slotMinTime:'06:00:00',
                slotMaxTime:'22:00:00',
                allDaySlot: false,
                selectConstraint: {
                   start: moment().format('YYYY-MM-DD'),
                },
                eventConstraint: {
                  start: moment().format('YYYY-MM-DD'),
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridFourDay,timeGridDay'
                },
                titleFormat: {
                    month: 'short',
                    year: 'numeric',
                },
                dayMaxEventRows: true,
                views: {
                    timeGrid: {
                        dayMaxEventRows: true // adjust to 6 only for timeGridWeek/timeGridDay
                    },
                    timeGridFourDay: {
                        type: 'timeGrid',
                        duration: { days: 4 },
                        buttonText: 'Εβδομάδα',
                    }
                },
                eventSources: [

                    // your event source
                    {
                      url: "{%url 'msfitcaregym:gymSlots' %}",
                      method: 'POST',
                      extraParams:function() {
                          return {
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                              status:'free',
                              type:document.getElementById('type').value
                          }
                      },
                      failure: function(error) {
                        alert('Παρουσιάστηκε σφάλμα!');
                      },
                      color: 'green',   // a non-ajax option

                    },
                    {
                      url: "{%url 'msfitcaregym:gymSlots' %}",
                      method: 'POST',
                      extraParams:function() {
                          return {
                              csrfmiddlewaretoken: '{{ csrf_token }}',
                              status:'user',
                              type:document.getElementById('type').value
                          }
                      },
                      failure: function(error) {
                        alert('Παρουσιάστηκε σφάλμα!');
                      },
                      color: 'red',   // a non-ajax option

                    },
                ],
                eventClick: function (info) {
                    var id = info.event.id;
                    start=info.event.start
                    var current= new Date();
                    var maxDays=new Date()
                    maxDays.setDate(maxDays.getDate()+5)
                    console.log(info)
                    if (info.event.extendedProps.isReserved) {
                        if (current<start) {
                            ans = confirm("Διαγραφή κράτησης?")
                            if (ans === true) {
                                $.ajax({
                                    type: "POST",
                                    url: "{%url 'msfitcaregym:gymUserRemoveReservation' %}",
                                    data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        'id': info.event.id,
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        // alert('Reservation Removed');
                                        calendar.refetchEvents();

                                    },
                                    failure: function (data) {
                                        calendar.refetchEvents();
                                        alert('Εμφανίστηκε Σφάλμα!!!');
                                    }
                                });
                            }
                        }
                    } else {
                        console.log((current+5))
                        if (current<start && maxDays>start) {
                            ans = confirm("Καταχώρηση κράτησης?")
                            if (ans == true) {
                                var slot_date = moment(info.event.start).format("Y-MM-DD");
                                $.ajax({
                                    type: "POST",
                                    url: "{%url 'msfitcaregym:gymUserAddReservation' %}",
                                    data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                        'date': slot_date,
                                        'id': info.event.id,
                                        'type': document.getElementById('type').value
                                    },
                                    dataType: "json",
                                    success: function (data) {
                                        if (data.msg==true) {
                                            alert('Έχετε ξεπεράσει το ημερήσιο όριο κρατήσεων');
                                        }
                                        calendar.refetchEvents();

                                    },
                                    failure: function (data) {
                                        calendar.refetchEvents();
                                        alert('Εμφανίστηκε Σφάλμα!!!');
                                    }
                                });
                            }
                        }
                    }
                },
        });
            calendar.render();
            calendar.setOption('locale', 'el');

        });
</script>
<section class="page-section rounded" style="background-color: hsla(0,0%,100%,.95);">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">{{type.Title}}</p>
    </div>
    <br>
    <input type="hidden" id="type" value="{{type.pk}}">
    <div id='calendar'></div>
</section>

{% endblock %}
{% block footer %}

{% endblock %}